.tracker {
  position: relative;
}

.trackerDescription {
  margin-top: var(--sys42-spacing-sm);
}

.sessions {
}

.session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sys42-spacing-md);
}

.sessionActivities {
  font-size: large;
}

.durationAndWeight {
  color: var(--color-on-surface-variant);
}

.sessionDuration {
  color: #333;
}

.sessionWeight {
  margin-left: auto;
}

.deleteButton {
}

.rest {
  display: none;
  font-size: small;
}

.set {
  font-weight: bold;
}

.set + .rest:before {
  content: " / ";
}

.rest + .set:before {
  content: " / ";
}

.set + .set:before {
  content: " / ";
}

.trackerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sys42-spacing-md);
}

.editButton {
  opacity: 0.5;
  color: inherit;
}

.editButton:hover {
  opacity: 1;
}

.editTrackerContainer {
}

.deleteTracker {
  color: var(--color-error);
}
