.tracker {
  position: relative;
}

.backButton {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: #efefef;
  padding: 1rem;
  width: 1rem;
  height: 1rem;
  color: #5b5b5b;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.backButton:hover {
  background: #d0d0d0;
}

.session {
  border: 1px solid #ddd;
  border-radius: var(--sys42-border-radius-md);
  background-color: #efefef;
  padding: 1rem;
}

.sessionActivities {
  font-size: 2rem;
}

.sessionDuration {
  color: #333;
}

.deleteButton {
}
