.trackersList {
}

.trackerListItem {
  cursor: pointer;
  border-radius: var(--sys42-border-radius-md);
  background: var(--color-surface-container);
  padding: var(--sys42-spacing-md);
  color: var(--color-on-surface);
}
