.trainingSessionInterface {
}

.set {
  border-radius: var(--sys42-border-radius-md);
  background: var(--color-surface-container);
  padding: var(--sys42-spacing-lg);
}

.inputWeight,
.inputReps {
  display: block;
  border-radius: var(--sys42-border-radius-md);
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
}

.inputGroupWeight,
.inputGroupReps {
  display: flex;
  align-items: baseline;
  gap: var(--sys42-spacing-sm);
}

.weightAndReps {
  display: flex;
  gap: var(--sys42-spacing-md);
}
