.trainingSessionInterface {
}

.set {
  border-radius: var(--sys42-border-radius-md);
  background: var(--color-surface-container);
  padding: var(--sys42-spacing-lg);
}

.inputWeight,
.inputReps {
  font-size: large;
}

.restingDuration {
  font-size: large;
}

.changeableWeight {
  display: flex;
  align-items: center;
  gap: var(--sys42-spacing-sm);
}
